body {
}

.todo {
  display: flex;
  gap: 0.5rem;
  justify-content: space-between;
}

.completed .description {
  color: gray;
  text-decoration: line-through;
}

.delete {
  color: red;
  cursor: pointer;
}

.edit {
  color: blue;
  cursor: pointer;
}
